.container-title {
    width: 100%;
}



.form-check-input {
    margin-top: 6px;
    height: 12px;
    width: 12px;
}

.form-check-label {
    font-size: 16px;
}

.card-borders {
    border-radius: 20px;
    min-width: 250px;
}

.card-text-start {
    border-radius: 0px;
}





